* {
    margin: 0px;
    padding: 0px;
    outline: 0;
    box-sizing: border-box;
    font-family: "Microsoft JhengHei";
    font-size: 18px;
}


/* navbar */
.nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    background-color: #FFF001 !important;
}

.navbar-brand img {
    height: 40px;
    padding-left: 20px;
}

.navbar-nav li{
    padding: 0 20px;
}

.navbar-nav li a {
    color: #015EAC !important;
    font-size: 18px;
    float: right;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-toggler {
    outline: none !important;
}

/* banner */
.banner_img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

/* container */
.container {
    padding: 20px;
}

.title {
    color: #015EAC;
    padding-bottom: 20px;
    font-size: 40px;
    text-align: center;
    font-weight: 900;
}

.hrdivider{
    width:100%;
    border-top: 3px double #015EAC;
    border-bottom: 1px solid #015EAC;
}

.container-title {
    font-size: 18px;
}

.contact {
    height: 400px;
    padding-top: 100px;
    background-image: url(../images/about_pic.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
}

.about_container {
    padding-bottom: 20px;
}

label {
    color: #fff;
}
.hrdivider{
    width:100%;
    border-top: 3px double #015EAC;
    border-bottom: 1px solid #015EAC;
}
input,
textarea {
    background-color: #fff;
    border: none;
    margin: 8px 0;
    width: 100%;
}

.mid_title,
.mid_text {
    color: #fff;
}

/* bottom */
.footer_bg {
    background-color: #015EAC;
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 70%;
    color: #fff;
    text-align: center;
}

.footer_p{
    font-size: 60%;
}
