* {
    margin: 0px;
    padding: 0px;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif TC', serif, "微軟正黑體";
    font-size: 18px;
}


/* navbar */
.nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-color: #FFF001;
}
.navbar-brand img{
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li{
    padding: 0 20px;
}
.navbar-nav li a{
    color: #015EAC !important;
    font-size: 18px;
    float: right;
    text-align: left;
    text-transform: uppercase;
}
.navbar-toggler{
    outline: none !important;
}
/* banner */

.banner_img{
    max-width: 100%;
    width: 100%;
    height: auto; 
}
/* container */
.news_container{
    padding: 20px 100px;
}
.title{
    color: #015EAC;
    padding-bottom: 10px;
    font-size: 40px;
    text-align: center;
    font-weight: 900;   
}
.row_container{
    padding: 0 50px;
}
.container_pic{
    border-radius: 10px;
    padding: 20px;
    
}
.img-fluid{
    border-radius: 10px;
}
.img-fluid:hover{
    cursor: pointer;
    border: 1px solid #015EAC;
    transform: scale(1.05);
    box-shadow:0 0 10px #015EAC;
    opacity: 80%;
}

/* bottom */
.footer_bg{
    background-color: #015EAC;
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 70%;
    color: #fff;
    text-align: center;
}